.container
  max-width: 1130px
  margin: auto
.film
  padding-top: 80px
  padding-bottom: 80px
  border-bottom: 1px solid #D4D4D4
.film-wrapper
  display: flex
.film-trailer
  display: flex
  flex-direction: column
  margin-right: 60px
.poster
  border-top-right-radius: 5px
  border-top-left-radius: 5px
  width: 358px
.trailer-button
  background-color: #fff
  border: 1px solid #d4d4d4
  border-radius: 0px 0px 5px 5px
  padding: 25px 0
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  &-icon
    margin-right: 14px
.film-title
  font-style: normal
  font-weight: 900
  font-size: 36px
  line-height: 42px
  margin-top: 0
  margin-bottom: 16px
.film-subtitle
  display: block  
  font-size: 18px
  line-height: 21px
  color: #A5A5A5
  margin-bottom: 32px
.film-description
  font-size: 14px
  line-height: 150%
  color: #000
  max-width: 514px
  margin-bottom: 50px
.about-film
  display: flex
  margin-bottom: 50px
.left-side
  margin-right: 40px
.about-text
  display: block
  font-size: 16px
  line-height: 19px
  margin-bottom: 16px
.about-text-bold
  display: inline-block
  width: 100px
  vertical-align: top
  font-weight: bold
  
.rating
  display: flex
  align-items: center
.rating-count
  padding: 34px 24px
  font-size: 28px
  line-height: 33px
  font-weight: bold
  color: #5671F6
  border-radius: 10px
  border: 1px solid #5671F6
  margin-right: 28px
.rating-title
  font-weight: bold
  font-size: 18px
  line-height: 21px
  margin-top: 0
  margin-bottom: 12px
.rating-text
  display: block
  margin-bottom: 7px
  font-size: 16px
  line-height: 19px
.ratiing-text-bold
  font-weight: bold

.cast
  padding-top: 70px
  padding-bottom: 100px
.tabs
  display: flex
  align-items: center
  margin-bottom: 60px
  &-content
    display: flex
    align-items: center
    flex-wrap: wrap    
.section-title  
  font-weight: normal
  font-size: 24px
  line-height: 28px
  color: #a5a5a5
  margin-right: 30px
  &.active
    color: #363636
    font-weight: 900
.card
  display: flex
  align-items: center
  margin-bottom: 35px
  flex-basis: 25%
  &-image
    width: 100px
    height: 100px
    object-fit: cover
    border-radius: 50%
    margin-right: 20px
.name
  font-size: 16px
  color: #5671F6
  line-height: 100%
  margin-top: 0
  margin-bottom: 6px
.en-name
  color: #A5A5A5
  font-size: 19px
  line-height: 100%


.news
  background-color: #F3F3F3
  padding-top: 70px
  padding-bottom: 100px
.news-cards
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  
.news-card
  flex-basis: 24%
  background-color: #fff
  padding: 30px
  border-radius: 5px
.section-news-title
  font-weight: 900
  font-size: 24px
  line-height: 28px
  color: #000000
  margin-bottom: 65px
.news-date
  font-size: 14px
  line-height: 16px
  color: #000000    
.news-title
  font-weight: 900
  font-size: 14px
  line-height: 16px
  color: #000000
  margin-top: 14px
