$roboto: Roboto, sans-serif
$roboto_bold: Roboto Bold, sans-serif
$roboto_black: Roboto Black, sans-serif

*
  box-sizing: border-box
body
  font-family: $roboto
  font-weight: 300
  color: #363636
.no-scroll
  overflow: hidden
//шрифты
@import 'fonts'
//стили шапки сайта
@import 'header'
//стили секций
@import 'section'
//стили адаптивного дизайна
@import 'media'
